
.login-image {
    background:url(../images/login.jpg) no-repeat center;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
}
  .container-form button {
    width: 100%;
    border-radius: 1rem;
    height: 2.6rem;
    font-weight: bold;
    letter-spacing: 1px;
  
  }