
.consulting {
    border: 1px solid #ccc;
    padding: 20px 0;

}

.consulting-foto {
    background:url(../images/beratung.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height: 400px;
    width:100%
  
}
.consulting-text {
    /* border: 2px solid black */
}
.consulting-link .extern-link {
    display: block;
    padding: .5em 0 ;
    border-bottom: 1px solid black
}
.consulting-card {
    margin-top: 60px
}
.consulting-card .col-md-4 {
    margin-bottom: 20px;
   
}

.consulting-card .card-body {
    background: rgb(236, 234, 234);
   
}
