.App {
  overflow-x: hidden;
  height: 100%;
}

.navbar {
  box-shadow: rgba(0,0,0,.4) 0 0 15px;
}

svg {
  overflow: visible;
}

.animated {
  transition: .55s;
  transform-origin: 50%;
}

.animated.fast {
  transition-timing-function: linear;
  transition: .15s;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.input-group-text {
  background-color: transparent;
}

span.input-group-text {
  border: none;
}

.nav-link {
  cursor: pointer;
}

.nav-pills .nav-link.active {
  border-bottom: 2px solid #007bff;
  background-color: transparent;
  color: #007bff;
  border-radius: 0;
}

.with-border {
  border-top: 2px solid #007bff;
}

.with-shadow {
  box-shadow: 1px 1px 5px rgba(0,0,0,.2);
}

ol.breadcrumb {
  margin-bottom: .5rem;
}