.App {
  overflow-x: hidden;
  height: 100%;
}

.navbar {
  box-shadow: rgba(0,0,0,.4) 0 0 15px;
}

svg {
  overflow: visible;
}

.animated {
  transition: all .55s, cx 0s, cy 0s, d 0s;
  transform-origin: 50%;
}

.animated.fast {
  transition-timing-function: linear;
  transition: .15s;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.input-group-text {
  background-color: transparent;
}

span.input-group-text {
  border: none;
}

.nav-link {
  cursor: pointer;
}

.nav-pills .nav-link.active {
  border-bottom: 2px solid #007bff;
  background-color: transparent;
  color: #007bff;
  border-radius: 0;
}

.with-border {
  border-top: 2px solid #007bff;
}

.with-shadow {
  box-shadow: 1px 1px 5px rgba(0,0,0,.2);
}
.with-shadow-2px {
  box-shadow: 2px 2px 4px  rgb(2, 28, 49, .5), -2px -2px 4px  rgb(2, 28, 49, .5)
}

ol.breadcrumb {
  margin-bottom: .5rem;
}

ol.breadcrumb:empty {
  display: none;
}

.practicalsImage1{
  background:url(./images/practicalsImage1.PNG) no-repeat center center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  width: 5rem;
  height: 0.8rem;
  display: inline-block;
}
.practicalsImage2 {
  background:url(./images/practicalsImage2.PNG) no-repeat center center;
}
.practicalsImage3 {
  background:url(./images/practicalsImage3.PNG) no-repeat center center;
}
.practicalsImage4{
  background:url(./images/practicalsImage4.PNG) no-repeat center center;
}
.practicalsImage2,
.practicalsImage3,
.practicalsImage4{
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  width: 6rem;
  height: 1.9rem;
  display: inline-block;
} 
.practicalsImage5{
  background:url(./images/practicalsImage5.PNG) no-repeat center center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  width: 12rem;
  height: 1.9rem;
  display: inline-block;
}
.tellMeLogo {
  background:url(./images/tellMeLogo.PNG) no-repeat center center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  width: 10rem;
  height: 4rem;
}