.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.line {
  fill: none;
  stroke-width: 3;
}

.dot {
  stroke: #fff;
}

.axis {
  color: rgba(1,1,1,.4); 
}

.y > .tick {
  stroke-dasharray: 2,2;
}

.y > path {
  display: none;
}

svg {
  overflow: visible;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.input-group-text {
  background-color: transparent;
}

span.input-group-text {
  border: none;
}

.hidden {
  visibility: hidden;
}