/* ***********LoginSeit********** */

.login-image {
    background:url(./images/login.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
}
.overlay {
  background-image: linear-gradient( to right, rgba(236, 240, 243, 0.4), rgb(2, 28, 49, 1));
  height: 100%; 
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/* .navbar  {
  text-align: center
} */
.navbar h2 {
  color: white;
  margin: auto;
  letter-spacing: 2px;
 
}
.container-form {
    width: 33%;
    height: 70%;
    margin: 50px auto;
    /* background-color: rgb(204, 227, 247, .8); */
    /* background-color:rgba(12, 36, 56, .8); */
    
  background-image: linear-gradient( to right, rgba(236, 240, 243, 0.4), rgb(2, 28, 49, 1));

    /* background-image: linear-gradient( rgb(204, 227, 247, .4), rgb(2, 28, 49), rgb(204, 227, 247, .4)); */
    padding: 55px;
    /* height: 419px; */
    border-radius: 68px 0;
    font-size: 18px;
    border: 2px solid  black; 
    position: relative;
    z-index: 2;
    box-shadow: 20px 20px 20px 
  }
  
  
  /* input[type="checkbox" i] {
    -webkit-appearance: none;
    outline: none
  }
 
   input[type="checkbox"]::after{
    content: '';
    position: relative;
    display: inline-block;
    top: 7px;
    left: -6px;
    height: 25px;
    width: 25px;
    background: #ccc;
    border: 1px solid rgb(194, 192, 192);
  }
  input[type="checkbox"]:checked + label:after {
    font-family: 'fontawesome';
    content: '\f103';
    position: absolute;
    top: -2px;
    left: -34px;
    font-size: 20px;
    color: rgb(131, 131, 204);
  }  */
  
  .form-group .right {
    color: white;
    float: right;
  
  }
  
  .container-form .form-control {
    margin-bottom: 10px;
    border-radius: 24px 0;
    height: 40px;
  }
   svg.svg-inline--fa.fa-lock.fa-w-14,
   svg.svg-inline--fa.fa-envelope.fa-w-16 {
color: red;
position: relative;
line-height: 100px;
top:  -44px;
right: -42%;
font-size: 20px;
z-index: 99;
  }
  svg.svg-inline--fa.fa-sign-in-alt.fa-w-16 {
    color: red;
    float:right;
    font-size: 20px;
    margin-right: 5px;
    position: absolute;
    right: 10px;
    
  }
  .container-form button {
    margin-top: 10px;
    width: 100%;
    border-radius: 24px 0;
    height: 40px;
   
  }
  